<template>
    <v-container fill-height>
        <v-layout justify-center align-center row wrap>
            <v-flex xs12>
                <center>
                    <h1 class="display-3">Thanks, {{name}}!</h1>
                    <h2>You answered <span class="green--text">{{correct}}</span> out of {{total}} correctly.</h2>
                    <v-btn color="success" @click="restart()">Restart</v-btn>
                </center>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

export default {
    props: ["name", "correct", "total"],
    data () {
        return {

        }
    },
    methods: {
        restart() {
            this.$emit("restart");
        }
    }
}
</script>

<style lang="scss" scoped>


</style>
