<template>
            <v-flex xs12>
                <v-progress-linear v-model="progressValue" color="primary" height="20px"></v-progress-linear>
                <span class="progress-bar-txt">{{currentQ}}/{{totalQ}}</span>
            </v-flex>
</template>

<script>
  export default {
    props: ["currentQ", "totalQ"],
    data () {
        return {

        }
    },
    computed: {
        progressValue() {
            return (this.currentQ/this.totalQ) * 100;
        }
    }
  }
</script>

<style lang="scss" scoped>
.v-progress-linear{
    margin: 0;
}
.progress-bar-txt{
    position: relative;
    font-size: 14px;
    color:black;
    top: -21px;
    left: 50%;
    z-index: 1;
}
</style>
