<template>
    <v-container fluid fill-height class="start">
        <v-layout justify-center row wrap>
            <v-flex xs12 sm6 md5 lg3 class="mt-5">
                <v-card>
                    <v-toolbar card dense>
                        <v-toolbar-title>
                            START A TEST
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-form class="px-1" ref="login">
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-text-field
                                        name="namee"
                                        label="Enter your name"
                                        id="id"
                                        v-model="username"
                                        :rules="nameRules"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-select
                                        :items="tests"
                                        item-text="name"
                                        item-value="id"
                                        v-model="selectedTest"
                                        :rules="testRules"
                                        label="Choose a test"
                                    >
                                    </v-select>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-spacer></v-spacer>
                                <v-btn @click="startTest()" color="primary" class="black--text">Start</v-btn> 
                            </v-layout>
                            
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import axios from 'axios';

export default {
    data () {
        return {
            username: '',
            selectedTest: 0,
            tests: [ ],
            nameRules: [
                v => v.length != 0 || 'You can\'t leave this behind!',
                v => v.length > 2 || 'Is this even a real name?',
                v => /\d/.test(v) == false || 'Sorry, nope. Complain to your parents.'
            ],
            testRules: [
                v => v != 0 || "You know you can't leave this empty!"
            ]
        }
    },
    methods: {
        startTest() {
            if(this.$refs.login.validate()){
                axios.post(
                    '/api/startTest.php',
                    {
                        name: this.username,
                        test_id: this.selectedTest
                    },
                    {
                        headers : {
                            'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'
                        }
                    }
                ).then((response) => {
                    if(response.data.status == "success"){
                        this.$emit('submitted', {
                            name:response.data.user.name, 
                            testId:response.data.user.test_id, 
                            questionId:response.data.user.question_id, 
                            currentQ:response.data.user.current_question,
                            totalQuestions:response.data.user.max_question
                        });
                    }
                    
                });
                
            }
        }
    },
    mounted() {
        // Get list of tests
        axios.get('/api/getTests.php').
            then(response => {
                this.tests = response.data;
            });
    }
  }
</script>

<style lang="scss" scoped>

</style>
