<template>
    <v-container fill-height>
        
        <v-layout justify-center row wrap>
            <progressbar :currentQ="currentQuestion" :totalQ="totalQuestions"></progressbar>
            <v-flex xs12>
                <center><h1>{{question.text}}</h1></center>
            </v-flex>
            <v-flex v-for="answer in answers" :key="answer.id" xs12 md4 class="ma-2">
                <v-card class="text-xs-center pa-4" @click="tryAnswer(answer.id)" v-bind:class="{wrong: answer.wrong, correct: answer.correct}" hover>{{answer.name}}</v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import progressbar from './Progress'

export default {
    components: {
        progressbar
    },
    props: ["question", "answers", "currentQuestion", "totalQuestions"],
    data () {
        return {

        }
    },
    methods: {
        tryAnswer(id) {
            var answered=false;
            this.answers.forEach(element => {
               if(element.correct == true || element.wrong == true) answered=true;
            });
            if(answered) return;
            this.$emit("giveAnswer", {
                question: this.question.id,
                answerId: id
            });
        }
    }
}
</script>

<style lang="scss" scoped>

.correct{
    background-color:#004c10;
}

.wrong{
    background-color: #6f0000;
}
</style>
