<template>
  <v-app :dark="true">
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>PHP</span>
        <span class="font-weight-light "> Technical task</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-avatar tile>
        <img src="/img/printful.png" alt="Printful logo">
      </v-avatar>
    </v-toolbar>

    <v-content>
      <transition name="slide-up">
        <start @submitted="startTest($event)" v-if="!started"></start>
      </transition>
      <transition name="slide-upp">
        <tests 
          :question="questionData.question" 
          :answers="questionData.answers" 
          :currentQuestion="user.currentQuestion" 
          :totalQuestions="user.totalQuestions"
          @giveAnswer="submitAnswer($event)"
          v-show="!ended"
        ></tests>
      </transition>
      <ending :correct="user.correct" :name="user.name" :total="user.totalQuestions" @restart="restart($event)"></ending>
    </v-content>
  </v-app>
</template>

<script>
import start from './components/Start'
import tests from './components/Tests'
import ending from './components/Ending';
import axios from 'axios';

export default {
  name: 'App',
  components: {
    start,
    tests,
    ending
  },
  data () {
    return {
      started: false,
      ended: false,
      user: {
        name: '',
        onTest: null,
        onQuestion: null, // current actual question ID
        currentQuestion: null, // current question by order
        correct: 0, // correct count
        totalQuestions: null
      },
      questionData: {
        answered: false,
        question: {
          id: 4,
          text: "What is mans best friend?"
        },
        answers: [
          {id: 0, text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.", correct: false, wrong: false},
          {id: 1, text: "Repudiandae dignissimos perferendis unde.", correct: false, wrong: false},
          {id: 2, text: "Quo dicta perferendis dolorem, perspiciatis culpa facere recus", correct: false, wrong: false},
          {id: 3, text: "Lorem ipsum dolor sit amet consectetur adipisicing elit.", correct: false, wrong: false}
        ]
      }
    }
  },
  methods: {
    restart() {
      this.started = false;
      this.ended = false;
      this.user.name = '';
      this.user.onTest = this.user.onQuestion = this.user.currentQuestion = this.user.totalQuestions = null;
      this.user.correct = 0;
    },
    getQuestion() {
      //get the question
      axios.get('/api/getQuestion.php', {
        params: {
          id: this.user.onQuestion
        }
      }).then(response => {
        this.questionData.question.id = this.user.onQuestion;
        this.questionData.question.text = response.data.text;
        this.questionData.answers = response.data.answers;

        // Give new attributes for color classes
        this.questionData.answers.forEach(element => {
          element.correct = false;
          element.wrong = false;
        });
      });
    },
    startTest(e) {
      this.user.name = e.name;
      this.user.onTest = e.testId;
      this.user.onQuestion = e.questionId;
      this.user.currentQuestion = e.currentQ;
      this.user.totalQuestions = e.totalQuestions;

      this.getQuestion();

      this.started = true;
    },

    submitAnswer(e) {
      axios.post(
        '/api/postAnswer.php', {
          name: this.user.name,
          test_id: this.user.onTest,
          question_id: e.question,
          answer_id: e.answerId
        },
        {
            headers : {
                'Content-Type' : 'application/x-www-form-urlencoded; charset=UTF-8'
            }
        }
      ).then(response => {
        if(e.answerId != response.data.answer_id) this.questionData.answers.find(x => x.id == e.answerId).wrong=true;
        else this.user.correct++;

        this.questionData.answers.find(x => x.id == response.data.answer_id).correct=true;

        this.questionData.question.text = this.questionData.question.text+' '; // hack for re-render

        // Wait 3 seconds before going further
        setTimeout(() => {
          if(response.data.next_question == "done"){
            this.ended = true;
          }else{
            this.user.onQuestion = response.data.next_question;
            this.user.currentQuestion++;
            this.getQuestion();
          }
        }, 3000);
      });
    }
  }
}
</script>

<style lang="scss">
body{
  overflow: hidden;
}

.slide-up-enter-active, .slide-up-leave-active, .slide-upp-enter-active, .slide-upp-leave-active {
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.slide-up-leave-to {
  height: 0;
  margin: 0;
  padding: 0;
}
.slide-upp-leave-to {
  height: 0;
  opacity: 0;
}
</style>
